.userContainer{
    height: 20em;
    overflow-x:scroll;
    width: 20em;
    .container{
        .mainContainer{
            display: flex;
            align-items: center;
            gap: 1em;
            padding-bottom: 0.5em;
            padding-left: 1em;
            width: 18em;
            
            .iconContainer{
                background-color: rgba(192, 192, 192, 0.171);
                border-radius: 50%;
                height: 3em;
                width: 3em;
                display: flex;
                align-items:center;
                justify-content:center;
                .iconFigure{
                    padding-top: 0.7em;
                }
               

            }
            .userDetails{
               line-height: 1em;
                .userText{
                    color: rgb(36, 34, 34);
                   
                }
            }
        }
    }
  
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
